# Python
backend/.venv/
backend/__pycache__/
backend/*.log
backend/*.pyc

# Node
frontend/node_modules/
frontend/build/
frontend/.pnp
frontend/.pnp.js
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
